VITE_OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY
VITE_NAVER_MAP_CLIENT_ID=YOUR_NAVER_MAP_CLIENT_ID
VITE_NAVER_MAP_SCRIPT_URL=https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=YOUR_NAVER_MAP_CLIENT_ID
